<form action="/process" method="POST">
        <label for="name">You Name:</label>
        <input type="text" name="name">

        <label for="dojo_location">Dojo Location:</label>
        <select name="dojo_location">
        <option value="Mountain View">Mountain View</option>
        <option value="Philippines">Philippines</option>
        <option value="Seattle,WA">Seattle,WA</option>
        </select>

        <label for="fave_lang">Favorite Language:</label>
        <select name="fave_lang">
        <option value="Node">Node</option>
        <option value="Java">Java</option>
        <option value="PHP">PHP</option>
        </select>

        <label for="comment">Comment (optional):</label>
        <textarea name="comment"></textarea>
        <input type="submit" value="Submit">
</form>