<p>Thanks for submitting this form! You have submitted this form X times from now</p>

<h3>Submitted Information</h3>
<label>Name:</label><p><%=PAGE.data.result.name%></p>
<label>Dojo Location:</label><p><%=PAGE.data.result.location%></p>
<label>Favorite Language:</label><p><%=PAGE.data.result.favorite_language%></p>
<label>Comment:</label><p><%=PAGE.data.result.comment%></p>
<input type="button" onclick="history.go(-1);" value="Go Back"> 